@import '../styles/reset.css';
@import 'swiper/css';

:root {
  --ls-1: -0.2rem;
  --ls-2: -0.4rem;
  --ls-3: -0.6rem;

  --lh-100: 100%;
  --lh-120: 120%;
}

body {
  font-family: var(--font-instrument-sans), 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-instrument-sans), 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.03em;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-family: var(--font-lora), Georgia, 'Times New Roman', serif;
  font-weight: 500;
  letter-spacing: -0.05em;
}

p {
  font-family: var(--font-instrument-sans), 'Helvetica Neue', Arial, sans-serif;
  line-height: 120%;
  letter-spacing: -0.02em;
}

p strong {
  font-weight: 500;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}